## --- IDE Specific (JetBrains Rider) ---
.idea/
*.sln.iml

## --- .NET Build & Outputs ---
bin/
obj/
[Log]/

## --- User-Specific & Local Settings ---
*.user
*.userosscache
*.suo
*.userprefs

## --- OS Generated ---
.DS_Store
Thumbs.db